/*Colors*/

.purple {
	background: #3f51b5;
}

.tile {
	background: #37474f;
}

.green {
	background: #075e48;
}

.lan {
	background: #191a4a;
}

.ara {
	background: #005292;
}

.presidio {
	background: #204e90;
}

.purple {
	background-color: #2e1059;
}

.purple_light {
	background-color: #eff3f5;
}

.lan_bg_dark_blue {
	background: #091b46;
}

.lan_bg_light_blue {
	background: #dee8f7;
}

.bg_cyan {
	background-color: #dcf1f7;
}

.tt_bg_dark_purple {
	background: #2e1059;
}

.tt_bg_dark_purple-2 {
	background: #3d0f82
}

.edu_bg_blue {
	background-color: #4D61E1;
}

.edu_bg_dark_blue {
	background-color: #3a49a9;
}

.edu_bg_light_blue {
	background-color: #f6f6fd;
}

.light_text {
	font-weight: 300!important;
}


.lan_dark_blue {
	color: #091b46!important
}


.tt-dark_purple-2 {
	color: #3d0f82
}


.edu_blue {
	color: #4D61E1!important;
}

.edu_light_blue {
	color: #f6f6fd;
}

.edu_purple {
	color: #68408f;
}

.edu_gradient {
	background: rgba(77, 97, 225, 1);
	background: -moz-linear-gradient(top, rgba(77, 97, 225, 1) 0%, rgba(105, 64, 142, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77, 97, 225, 1)), color-stop(100%, rgba(105, 64, 142, 1)));
	background: -webkit-linear-gradient(top, rgba(77, 97, 225, 1) 0%, rgba(105, 64, 142, 1) 100%);
	background: -o-linear-gradient(top, rgba(77, 97, 225, 1) 0%, rgba(105, 64, 142, 1) 100%);
	background: -ms-linear-gradient(top, rgba(77, 97, 225, 1) 0%, rgba(105, 64, 142, 1) 100%);
	background: linear-gradient(to bottom, rgba(77, 97, 225, 1) 0%, rgba(105, 64, 142, 1) 100%);
}

.row.overlay_layer {
	position: relative;
	bottom: 30vh;
	margin-bottom: -20vh;
}

.row.overlay_layer:before {
	width: 100%;
	height: 100%;
	background: red;
	position: absolute;
	display: block;
	bottom: 5vh;
	background: rgba(240, 248, 255, 1);
	background: -moz-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 80%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 248, 255, 0)), color-stop(80%, rgba(240, 248, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 80%);
	background: -o-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 80%);
	background: -ms-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 80%);
	background: linear-gradient(to bottom, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 80%);
}

section.task_creation {
	background: aliceblue;
}

.bg_grid {
	background-image: url("../img/grid_black.png");
	background-repeat: round;
	background-size: 8.333333333%;
}

.shadow {
	box-shadow: 0px 40px 80px rgba(31, 29, 29, 0.28);
}

.shadow_light {
	box-shadow: 0px 30px 80px rgba(31, 29, 29, 0.1);
}

.shadow_blue {
	box-shadow: 0px 40px 60px rgb(235, 237, 249)
}

.teal {
	background: #2e3b42;
}

