.mb0 {
	margin-bottom: 0;
}

.mb24 {
	margin-bottom: 24px;
}

.mb48 {
	margin-bottom: 48px!important;
}

.mb96 {
	margin-bottom: 96px;
}

.mb128 {
	margin-bottom: 128px;
}

.mb256 {
	margin-bottom: 256px;
}
.p0{
	padding: 0;
}
.pb0{
	padding-bottom: 0;
}
.pb256 {
	padding-bottom: 256px;
}

.mt0 {
	margin-top: 0;
}

.mt96 {
	margin-top: 96px;
}

.mt48 {
	margin-top: 48px;
}

