

nav {
	background: rgba(255, 255, 255, 0.85);
	-webkit-backface-visibility: hidden;
	max-width: 100%;
	transition: .5s all;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	max-width:100%;
	position: fixed;
	top: 0;
	left:0;
	z-index: 20;
}

.site-title:hover {
	color: #333
	}

#site-navigation .module.left {
	padding-left: 15px;
	}

.module {
	display: inline-block;
	padding: 0 32px;
}

@media (max-width:480px){
	.module{ padding: 0px
}
}

.module-group {display: inline-block;}

.module.left {float: left;}

.module.right,.module-group.right {float: right;}


.module.right a {
	margin-left: 20px;
	text-transform: uppercase;
	position: relative;
}

.nav-bar {
	height: 55px;
	max-height: 55px;
	line-height: 53px;
}

		.nav-visible {
			top: 0px;
		}
		.nav-hidden {
			opacity: .1;
			border-bottom: 1px solid rgba(230, 230, 230, 0.16);
			background: transparent;
		}

		.nav-hidden:hover {
			opacity: 1;
			background:white;

		}
		

.nav-bar .module,.nav-bar .module-group {height: 55px;}

.nav-bar a, .nav-bar span, .nav-bar a:visited {
	display: inline-block;
	height: 55px;
	font-size: .9em;
	font-weight: bold;
	color: #222;
	position: relative;
}

.site-title {
	font-weight: 300;
}

.nav-bar a {
	display: inline-block;
	height: 55px;
	border-bottom: 0px;
}

span.dropdown:hover .dropdown_items {
display: block;
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.23);
    min-width: 250px;
    top: 54px;
    left: -25px;
    opacity: 1;
    transition: .5s opacity;
}

ul.dropdown_items{
	display:block;
	opacity: 0;
	transition: .5s opacity;
	background: white;
	z-index: 10;
	top: -1000px;
	left: -20px;
	position: absolute;
	width: 230px;
	left: -20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11);
	margin: 0;
	padding: 0px;
}

ul.dropdown_items li {
	display: block;
	float: none;
	margin: 0px;
	border-bottom: 1px solid #eee;
	line-height: 1em;
	vertical-align: middle;
	height: 46px;
	line-height: 46px;
	background: white;
	transition: .2s all;
	cursor: pointer;
}

ul.dropdown_items li:first-of-type{
	border-top:0px;
} 

ul.dropdown_items li:hover {
	background: aliceblue;
}

span.dropdown {
	height: 55px;
	display: inline-block;
	padding: 0px 10px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: .9em;
	text-transform: uppercase;
	transition: .5s all;
	color: #222;
	cursor: pointer;
}

ul.dropdown_items li.active_menu_item {
	background: aliceblue;
}

.ham_icon {
	cursor: pointer;
}




@media (max-width:760px){
	span.menu_mobile {
		display: block!important;
		position: absolute;
		width: calc(100vw - 15px);
		right: 0px;
		text-align: center;
		/* text-align: justify; */
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		padding: 0px 15px;
		box-sizing: border-box;
		background:white;
	}

	span.menu_mobile > a, span.menu_mobile > span {
		width: 32%;
		margin: 0px auto!important;
		padding: 0px;
		text-align: center;
		white-space: normal;
		box-sizing: border-box;
	}


	span.menu_mobile > *:first-child{
		text-align:left
	}


	span.menu_mobile > *:last-child{
		text-align:right
	}
}