/* line 2, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
body,
html {
  margin: 0;
  font-size: 18px;
  line-height: 2em;
  color: #1b1d1f;
  position: relative;
}

/* Sections */
/* line 18, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
section {
  border-top: 1px solid #eee;
  padding: 3rem 0;
}

/* line 23, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
section.mini_section {
  padding: 2rem 0;
}

/* line 27, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
header.mini-header {
  margin: 3rem 0 2rem;
}

/* line 31, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
section.description {
  border-top: 0px;
}

/* Home Intro */
/* line 39, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.intro_text p {
  font-size: 1.1em;
}

/* line 43, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.intro_name {
  margin-bottom: 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 53, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
  .my-photo {
    width: 50%;
    min-width: 300px;
    margin: 0 auto 1em;
  }
  /* line 58, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
  .intro header {
    text-align: center;
    margin: 2em 0;
  }
}

/* Projects */
/* line 66, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
h2 {
  font-weight: 700 !important;
}

/* line 71, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
h3.project-title, .project-title.intro_name {
  margin: 8px 0px;
}

/* line 75, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
div#projects {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Home page Portfolio */
/* line 84, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item {
  transition: .5s all;
  border-top: 1px solid #eee;
  padding: 4rem 2rem;
}

/* line 89, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item > a {
  border: 0px solid #cbcbcb;
  display: block;
  border-radius: 8px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .5s;
}

/* line 99, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item:hover {
  transition: box-shadow .8s;
}

/* line 104, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item:first-of-type {
  border-top-width: 0px;
}

@media only screen and (max-width: 480px) {
  /* line 110, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
  .project-item .project btn {
    margin: 0 auto;
  }
}

/* line 115, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .project-description {
  margin-bottom: 2em;
}

/* line 119, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item.Booking p.project-title:before {
  content: "Booking.com";
  display: table;
  font-size: 12px;
  font-weight: normal;
  background: #E4F4FF;
  clear: both;
  border-radius: 4px;
  line-height: 31px;
  padding: 0px 8px;
  color: #003580;
}

/* line 132, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item p.company-description {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 137, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item p.project-title {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bold;
}

/* line 143, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item a.link_container {
  display: block;
  border-radius: 8px;
  height: 100%;
}

/* line 149, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .project-text {
  padding: 16px;
}

/* line 153, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .project-img {
  margin: 0;
}

/* line 159, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 166, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.row-flex::after {
  content: "";
  flex: auto;
}

/*# sourceMappingURL=index.css.map */