/* line 2, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
body,
html {
  margin: 0;
  font-size: 18px;
  line-height: 2em;
  color: #1b1d1f;
  position: relative;
}

/* Sections */
/* line 18, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
section {
  border-top: 1px solid #eee;
  padding: 3rem 0;
}

/* line 23, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
section.mini_section {
  padding: 2rem 0;
}

/* line 27, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
header.mini-header {
  margin: 3rem 0 2rem;
}

/* line 31, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
section.description {
  border-top: 0px;
}

/* Home Intro */
/* line 39, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.intro_text p {
  font-size: 1.1em;
}

/* line 43, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.intro_name {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 53, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
  .my-photo {
    width: 50%;
    min-width: 300px;
    margin: 0 auto 1em;
  }
  /* line 58, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
  .intro header {
    text-align: center;
    margin: 2em 0;
  }
}

/* Projects */
/* line 66, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
h2 {
  font-weight: 700 !important;
}

/* line 72, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
div#projects {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Home page Portfolio */
/* line 81, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item {
  transition: .5s all;
  padding: .8em 1.4em;
}

/* line 85, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 94, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item img:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

/* line 103, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .project-text {
  padding: 16px 0PX;
}

/* line 106, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .project-text p.company-description {
  font-size: .85EM;
  font-weight: NORMAL;
}

/* line 111, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .project-text p.project-title {
  font-size: 1EM;
  margin-bottom: 2px;
  font-weight: bold;
  line-height: 1.3em;
}

/* line 121, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item > a {
  border: 0px solid #cbcbcb;
  display: block;
  border-radius: 8px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .5s;
}

/* line 131, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item:hover {
  transition: box-shadow .8s;
}

/* line 136, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item:first-of-type {
  border-top-width: 0px;
}

@media only screen and (max-width: 480px) {
  /* line 142, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
  .project-item .project btn {
    margin: 0 auto;
  }
}

/* line 152, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .img_container {
  position: relative;
}

/* line 156, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item .tags {
  font-size: 11px;
  font-weight: normal;
  background: #0000005c;
  /* border: 1px solid #003580; */
  border-radius: 4px;
  line-height: 24px;
  padding: 0px 6px;
  color: #ffffff;
  MARGIN-BOTTOM: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 171, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.project-item a.link_container {
  display: block;
  border-radius: 8px;
  height: 100%;
}

/* line 181, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 188, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/index.scss */
.row-flex::after {
  content: "";
  flex: auto;
}

/*# sourceMappingURL=index.css.map */