
	.summary {margin: 3em 0;
		min-height: 80px;
		clear:both;
	}
	.summary .col-sm-3 {
		border-left: 2px solid #cac8c8;
		text-align:center;
	}
	.summary .col-sm-3:first-of-type {border-left: 0px;}
	.summary_subtitle{font-size:.9em;}
	.summary_title{
		color:black;
		font-weight: bold;
	}
	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 768px) {
		.summary .col-sm-3 {
			border-top: 1px solid #e8e8e8;
			text-align:left;
			padding: 10px 15px;
			border-left: 0px;
		}
		.summary .col-sm-3:first-of-type{border-top:none;}
		.summary_subtitle{font-size:1em;}
	}

	/*SECTIONS */
	section{border: none}
	.subsection{
		padding: 2em 1em;
		padding-bottom: 4em;
		margin: 4em 0 0em;
	}
	.purple {background: #4749b3;}
	.tile{background: #3a4850;}
	.green {background: #125845;}
	.lan {background: #474580;}
	.ara {background: #005292;}
	.presidio{background: #005292}

	.subsection h1{
		display: block;
		margin: 1em auto .5em;
		text-align: center;
		tac;
		font-size: 3em;
	}
	.subsection p, .purple li {font-size: 1em;}
	.subsection ul{margin-left: 0;}
	.subsection img {
		box-shadow: none;
		margin: 0;
	}

	.subsection .col-md-3 {padding-top: 8em;}
	hr.small {
		width: 50%;
		margin: 3em auto;
		opacity: .2;
		border-top-width: 2px;
		position: relative;
	}
	/* Custom, iPhone Retina */ 
	@media only screen and (min-width : 320px) {
		.subsection .col-md-3 {
			padding-top: 8em
		}
		.subsection, section{
			padding: 1em 1em;
			margin: 1em 0em;
		}

		.img-text {
			padding-top: 0em;
		}
	}


	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

		.subsection, section{
			padding: 3em 3em;
			margin: 0em 0em;
		}

		.img-text {
			padding-top: 6em;
		}
	}

	.img-text h3 {
		line-height: 1.4em;
	}


	div#primary {
		max-width: 1200px;
	}

