/* line 3, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
nav {
  background: rgba(255, 255, 255, 0.85);
  -webkit-backface-visibility: hidden;
  max-width: 100vw;
  transition: .5s all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 11, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.main-navigation {
  clear: both;
  display: block;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

/* line 22, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.site-title:hover {
  color: #333;
}

/* line 26, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
#site-navigation .module.left {
  padding-left: 15px;
}

/* line 30, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.module {
  display: inline-block;
  padding: 0 32px;
}

@media (max-width: 480px) {
  /* line 36, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
  .module {
    padding: 0px;
  }
}

/* line 40, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.module-group {
  display: inline-block;
}

/* line 42, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.module.left {
  float: left;
}

/* line 44, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.module.right, .module-group.right {
  float: right;
  padding-right: 16px;
}

/* line 47, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.module.right a {
  margin-left: 20px;
  text-transform: uppercase;
  position: relative;
}

/* line 53, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-bar {
  height: 55px;
  max-height: 55px;
  line-height: 53px;
}

/* line 59, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-visible {
  top: 0px;
}

/* line 62, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-hidden {
  opacity: .1;
  border-bottom: 1px solid rgba(230, 230, 230, 0.16);
  background: transparent;
}

/* line 68, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-hidden:hover {
  opacity: 1;
  background: white;
}

/* line 75, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-bar .module, .nav-bar .module-group {
  height: 55px;
}

/* line 77, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-bar a, .nav-bar span, .nav-bar a:visited {
  display: inline-block;
  height: 55px;
  font-size: .9em;
  font-weight: bold;
  color: #222;
  position: relative;
}

/* line 86, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.site-title {
  font-weight: normal;
}

/* line 90, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.nav-bar a {
  display: inline-block;
  height: 55px;
  border-bottom: 0px;
}

/* line 96, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
span.dropdown:hover .dropdown_items {
  display: block;
  position: absolute;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.23);
  min-width: 250px;
  top: 54px;
  left: -25px;
  opacity: 1;
  transition: .5s opacity;
}

/* line 107, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
ul.dropdown_items {
  display: block;
  opacity: 0;
  transition: .5s opacity;
  background: white;
  z-index: 10;
  top: -1000px;
  left: -20px;
  position: absolute;
  width: 230px;
  left: -20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11);
  margin: 0;
  padding: 0px;
}

/* line 123, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
ul.dropdown_items li {
  display: block;
  float: none;
  margin: 0px;
  border-bottom: 1px solid #eee;
  line-height: 1em;
  vertical-align: middle;
  height: 46px;
  line-height: 46px;
  background: white;
  transition: .2s all;
  cursor: pointer;
}

/* line 137, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
ul.dropdown_items li:first-of-type {
  border-top: 0px;
}

/* line 141, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
ul.dropdown_items li:hover {
  background: aliceblue;
}

/* line 145, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
span.dropdown {
  height: 55px;
  display: inline-block;
  padding: 0px 10px;
  font-size: .9em;
  text-transform: uppercase;
  transition: .5s all;
  cursor: pointer;
}

/* line 155, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
ul.dropdown_items li.active_menu_item {
  background: aliceblue;
}

/* line 159, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
.ham_icon {
  cursor: pointer;
}

@media (max-width: 760px) {
  /* line 167, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
  span.menu_mobile {
    display: block !important;
    position: absolute;
    width: 100vw;
    right: 0px;
    text-align: center;
    /* text-align: justify; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0px 15px;
    box-sizing: border-box;
    background: white;
  }
  /* line 180, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
  span.menu_mobile > a, span.menu_mobile > span {
    width: 32%;
    margin: 0px auto !important;
    padding: 0px;
    text-align: center;
    white-space: normal;
    box-sizing: border-box;
  }
  /* line 190, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
  span.menu_mobile > *:first-child {
    text-align: left;
  }
  /* line 195, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_nav_dropdown.scss */
  span.menu_mobile > *:last-child {
    text-align: right;
  }
}

/* line 4, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
div {
  transition: .2s width;
}

/* line 8, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.col-center {
  margin: 0 auto;
  float: none;
}

/* line 13, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.oyv {
  overflow-y: visible;
}

/* line 17, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
header {
  margin: 128px auto;
  text-align: center;
}

/* line 22, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
section {
  padding: 128px 0;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

/* line 32, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
ol {
  padding: 0;
  margin-left: 22px;
  display: block;
}

/* line 38, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
ol li {
  margin-bottom: 1em;
}

/* line 42, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
ol li b {
  display: block;
}

/* line 47, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.img_center {
  margin: 0 auto;
}

/* line 52, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.img_right {
  margin-right: 0;
  margin-left: auto;
  position: relative;
  left: 30px;
  margin-bottom: 2em;
}

/* line 60, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.img_full {
  max-width: 100%;
}

/* line 64, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.slide_text,
.img-container {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}

/* line 71, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.slide_text {
  padding: 0px 1% 0px 1%;
  position: relative;
  text-align: left;
}

/* line 77, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.row.slide {
  padding-bottom: 3em;
  padding-top: 4em;
}

/* line 82, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.slide_small {
  margin: 3em -15px;
}

/* line 87, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.skew {
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  margin: -128px 0 !important;
  padding: 256px 0;
  z-index: 20;
}

/* line 94, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.mini_section.skew {
  padding: 128px 0px;
}

/* line 98, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.skew-top {
  clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
  margin: -6% 0 !important;
  padding: 6% 0;
}

/* line 104, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.skew-bottom {
  clip-path: polygon(0 0%, 100% 0%, 130% 95%, 0% 100%);
  margin-bottom: -257px;
  padding-bottom: 256px;
}

@media only screen and (min-width: 992px) {
  /* line 111, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
  .row-table {
    display: table;
  }
  /* line 114, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
  .col-table {
    float: none;
    display: table-cell;
    vertical-align: bottom;
  }
}

/* line 121, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.arrow {
  margin: 3em 0px 3em 14%;
  margin-left: 14%;
  width: 60%;
  opacity: .2;
}

/* line 127, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
img.arrow_90 {
  margin: 2em 14% 4em;
  width: 9px;
}

/* line 131, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.arrow_down {
  width: 36%;
}

/* line 135, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.mini_header {
  margin: 64px 0px;
}

/* line 140, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.img_rounded {
  border-radius: 5px;
  overflow: hidden;
}

/* line 145, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.section_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  top: 0;
  left: 0;
  /* background: red; */
  background-size: cover;
  opacity: .1;
}

/* line 157, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.thanks_container img {
  margin: 0 auto;
}

/* line 162, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_details.scss */
.thanks_container {
  margin-top: 18em;
  margin-bottom: 5em;
  text-align: center;
}

/* line 1, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h1, h2, h3, h4, h5, h6, p, ol {
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0;
}

/* line 7, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
body, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* line 11, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h1, h2, h3, h4, h5, h6, .h0 {
  clear: both;
  font-weight: 600;
  color: #000000;
  position: relative;
  word-wrap: break-word;
  line-height: 1em;
}

/* line 20, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
p.lead {
  font-size: 24px;
  line-height: 42px;
  color: black;
}

/* line 26, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
p,
li {
  line-height: 1.6em;
  vertical-align: top;
}

/* line 32, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
li {
  margin-bottom: 1em;
}

/* line 39, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.h0 {
  font-size: 3.5rem;
  font-weight: bold;
}

/* line 44, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h1 {
  font-size: 2em;
}

/* line 48, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h1,
h2 {
  padding-bottom: .1em;
  margin-top: 2em;
}

/* line 54, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h2 {
  font-size: 1.5em;
}

/* line 58, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h3 {
  font-size: 1.3em;
}

/* line 62, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h4 {
  font-size: 1em;
}

/* line 66, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h5 {
  font-size: .875em;
}

/* line 70, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}

/* line 79, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
p.leady {
  font-size: 21px;
  margin-bottom: 2em;
}

/* line 84, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
u {
  text-decoration: none;
  border-bottom: 2px solid #5669e1;
}

/* line 90, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
figcaption {
  position: relative;
  bottom: 4px;
  display: block;
}

/* line 98, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
p ~ h3 {
  margin-top: 2em;
}

/* line 102, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h1 + h3 {
  margin-top: -1em;
}

/* line 106, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h2 + h3 {
  margin-top: -.4em;
}

/* line 110, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h4 + h5 {
  margin-top: -1em;
}

/* line 114, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
h3 + .lead {
  margin-top: -30px;
}

/* line 118, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
span.number {
  display: inline-block;
  font-size: .8em;
  width: 35px;
  height: 35px;
  background: #5a6ce3;
  text-align: center;
  line-height: 35px;
  vertical-align: top;
  border-radius: 50%;
  position: absolute;
  color: white;
  margin-right: 13px;
  left: -60px;
  font-weight: bold;
  border: -1px solid white;
  z-index: 10;
}

/*WEIGHT VARIANTS*/
/* line 140, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.fwb, .strong {
  font-weight: 600;
}

/*COLOR VARIANTS*/
/* line 148, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.white,
p.white,
h3.white,
.white * {
  color: white !important;
}

/* line 155, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.yellow {
  color: #f4c900;
}

/* line 159, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.lan h1,
.cyan,
p.cyan {
  color: #5bd0f7 !important;
}

/*SIZE VARIANTS*/
/* line 168, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.smaller {
  font-size: .9em;
  line-height: 1.6em;
  opacity: .8;
  margin-bottom: 2em;
}

/* line 175, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.smallest {
  font-size: .8em;
  line-height: 1.6em;
  opacity: .8;
  margin-bottom: 2em;
}

/* line 183, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.quiet,
.quiet p {
  line-height: 2.2em;
  opacity: .95;
}

/* line 189, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.quieter {
  opacity: .6;
}

/* line 193, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.highlight {
  padding: 2em 3em 1em;
  background-color: #fff3cd;
  border-color: #ffeeba;
  border: 1px solid #f8ecc9;
  border-radius: 4px;
}

/* line 200, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.highlight ol {
  margin: 0;
}

/* line 205, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.markdown-body h3 {
  margin-top: 3em !important;
}

/*ALIGNMENT CLASSES*/
/* line 212, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.tal,
.text-left {
  text-align: left;
}

/* line 217, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.tac,
.text-center,
header h2,
header h3 {
  text-align: center;
}

/* line 224, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.taj {
  text-align: justify;
}

/* line 228, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.text-center img {
  margin-left: auto;
  margin-right: auto;
}

/* line 233, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
.tac img,
.taj img,
img.tac {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  /* line 241, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .sm_text_left,
  .sm_text_left > * {
    text-align: left !important;
  }
  /* line 245, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .sm_text_center,
  .sm_text_center > * {
    text-align: center !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 254, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-lg-left {
    text-align: left;
  }
  /* line 257, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-lg-right {
    text-align: right;
  }
  /* line 260, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-lg-center {
    text-align: center;
  }
  /* line 263, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-lg-justify {
    text-align: justify;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 269, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-md-left {
    text-align: left;
  }
  /* line 272, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-md-right {
    text-align: right;
  }
  /* line 275, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-md-center {
    text-align: center;
  }
  /* line 278, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-md-justify {
    text-align: justify;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 284, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-sm-left {
    text-align: left;
  }
  /* line 287, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-sm-right {
    text-align: right;
  }
  /* line 290, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-sm-center {
    text-align: center;
  }
  /* line 293, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-sm-justify {
    text-align: justify;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 299, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-xs-left {
    text-align: left;
  }
  /* line 302, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-xs-right {
    text-align: right;
  }
  /* line 305, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-xs-center {
    text-align: center;
  }
  /* line 308, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
  .text-xs-justify {
    text-align: justify;
  }
}

/* line 313, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
header {
  margin: 128px 0;
}

/* line 317, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_type.scss */
header.mini_header {
  margin: 64px 0px;
}

/* line 1, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.full-width {
  background: #f3f4f6;
  width: 100%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* line 17, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.full-width iframe {
  background: #F3F4F6;
}

/* line 36, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 24.06%, rgba(0, 0, 0, 0.35) 100%), #271DB8;
}

/* line 40, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.hero img {
  margin: 0 auto;
}

/* line 44, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.hero img {
  max-width: 33vw;
  max-height: 70vh;
}

/* line 49, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.hero-bg {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-image: url(/img/rc/bg.png);
}

/* line 56, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.full-width p {
  margin-left: 0;
  background: transparent !important;
}

/* line 64, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.container_iframe {
  position: relative;
  overflow: hidden;
  padding-top: 90%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
/* line 71, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 83, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb0 {
  margin-bottom: 0;
}

/* line 87, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb24 {
  margin-bottom: 24px !important;
}

/* line 91, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb48 {
  margin-bottom: 48px !important;
}

/* line 95, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb64 {
  margin-bottom: 64px !important;
}

/* line 99, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb96 {
  margin-bottom: 96px !important;
}

/* line 103, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb128 {
  margin-bottom: 128px !important;
}

/* line 107, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mb256 {
  margin-bottom: 256px !important;
}

/* line 111, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pb0 {
  padding-bottom: 0;
}

/* line 115, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pb24 {
  padding-bottom: 24px !important;
}

/* line 119, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pb48 {
  padding-bottom: 48px !important;
}

/* line 123, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pb96 {
  padding-bottom: 96px !important;
}

/* line 127, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pb128 {
  padding-bottom: 128px !important;
}

/* line 131, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pb256 {
  padding-bottom: 256px !important;
}

/* line 136, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt0 {
  padding-top: 0;
}

/* line 140, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt24 {
  padding-top: 24px !important;
}

/* line 144, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt48 {
  padding-top: 48px !important;
}

/* line 148, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt64 {
  padding-top: 64px !important;
}

/* line 153, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt96 {
  padding-top: 96px !important;
}

/* line 157, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt128 {
  padding-top: 128px !important;
}

/* line 161, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.pt256 {
  padding-top: 256px !important;
}

/* line 165, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mt0 {
  margin-top: 0;
}

/* line 169, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mt24 {
  margin-top: 24px !important;
}

/* line 173, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mt64 {
  margin-top: 64px !important;
}

/* line 177, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mt96 {
  margin-top: 96px !important;
}

/* line 181, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
.mt48 {
  margin-top: 48px !important;
}

/* line 186, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_margins.scss */
:host {
  contain: none;
}

/*Colors*/
/* line 3, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.purple {
  background: #3f51b5;
}

/* line 7, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.tile {
  background: #37474f;
}

/* line 11, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.green {
  background: #075e48;
}

/* line 15, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.lan {
  background: #1d1f69;
}

/* line 18, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.ara {
  background: #005292;
}

/* line 22, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.presidio {
  background: #204e90;
}

/* line 26, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.presidio_blue {
  background: #095490;
}

/* line 30, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.purple {
  background-color: #2e1059;
}

/* line 34, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.purple_light {
  background-color: #eff3f5;
}

/* line 38, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.lan_bg_dark_blue {
  background: #091b46;
}

/* line 42, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.lan_bg_light_blue {
  background: #dee8f7;
}

/* line 46, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.bg_cyan {
  background-color: #dcf1f7;
}

/* line 50, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.tt_bg_dark_purple {
  background: #2e1059;
}

/* line 54, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.tt_bg_dark_purple-2 {
  background: #3d0f82;
}

/* line 58, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_bg_blue {
  background-color: #4D61E1;
}

/* line 62, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_bg_dark_blue {
  background-color: #3a49a9;
}

/* line 66, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_bg_light_blue {
  background-color: #f6f6fd;
}

/* line 71, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.lan_dark_blue {
  color: #091b46 !important;
}

/* line 76, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.tt-dark_purple-2 {
  color: #3d0f82;
}

/* line 81, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_blue {
  color: #4D61E1 !important;
}

/* line 85, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_light_blue {
  color: #f6f6fd;
}

/* line 89, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_purple {
  color: #68408f;
}

/* line 93, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.edu_gradient {
  background: #4d61e1;
  background: -moz-linear-gradient(top, #4d61e1 0%, #69408e 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4d61e1), color-stop(100%, #69408e));
  background: -webkit-linear-gradient(top, #4d61e1 0%, #69408e 100%);
  background: -o-linear-gradient(top, #4d61e1 0%, #69408e 100%);
  background: -ms-linear-gradient(top, #4d61e1 0%, #69408e 100%);
  background: linear-gradient(to bottom, #4d61e1 0%, #69408e 100%);
}

/* line 103, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.row.overlay_layer {
  position: relative;
  bottom: 30vh;
  margin-bottom: -20vh;
}

/* line 109, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.row.overlay_layer:before {
  width: 100%;
  height: 100%;
  background: red;
  position: absolute;
  display: block;
  bottom: 5vh;
  background: aliceblue;
  background: -moz-linear-gradient(top, rgba(240, 248, 255, 0) 0%, aliceblue 80%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 248, 255, 0)), color-stop(80%, aliceblue));
  background: -webkit-linear-gradient(top, rgba(240, 248, 255, 0) 0%, aliceblue 80%);
  background: -o-linear-gradient(top, rgba(240, 248, 255, 0) 0%, aliceblue 80%);
  background: -ms-linear-gradient(top, rgba(240, 248, 255, 0) 0%, aliceblue 80%);
  background: linear-gradient(to bottom, rgba(240, 248, 255, 0) 0%, aliceblue 80%);
}

/* line 125, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
section.task_creation {
  background: aliceblue;
}

/* line 129, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.bg_grid {
  background-image: url("../img/grid_black.png");
  background-repeat: round;
  background-size: 8.333333333%;
}

/* line 135, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.shadow {
  box-shadow: 0px 40px 80px rgba(31, 29, 29, 0.28);
}

/* line 139, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.shadow_light {
  box-shadow: 0px 30px 80px rgba(31, 29, 29, 0.1);
}

/* line 143, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.shadow_blue {
  box-shadow: 0px 40px 60px #ebedf9;
}

/* line 147, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/_colors.scss */
.teal {
  background: #2e3b42;
}

/* line 7, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  /*-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-osx-font-smoothing: grayscale;*/
}

/* line 16, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
body {
  margin: 0;
  font-size: 18px;
  background: #fff;
  overflow-x: hidden;
  padding-bottom: 6em;
  padding-top: 55px;
  width: 100vw;
}

/* line 26, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
img {
  border: 0;
  width: auto;
  height: auto;
  cursor: pointer;
  max-width: 100%;
  display: block;
  background: transparent !important;
}

/* line 36, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  color: #404040;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: visible;
}

/* line 51, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
ul,
ol {
  margin: 0 0 1.5em 1em;
  padding-left: 0;
}

/* line 56, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
ul {
  margin-top: 2em;
  margin-bottom: 3em;
}

/* line 60, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 66, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
ul.no_disc {
  list-style-type: none;
}

/* line 69, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 73, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

/* line 82, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.clear:before,
.clear:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

/* line 94, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.btn,
.button {
  border: 2px solid #5a6ce3;
  padding: 12px 26px;
  min-width: 150px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  color: #5a6ce3;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 15px;
  background: white;
}

/* line 117, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.btn:hover,
.button:hover,
.btn_active {
  background: #5a6ce3;
  color: #fff;
}

/* line 123, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.btn-lg {
  min-width: 200px;
  font-size: 15px;
  padding: 10px 20px;
  box-sizing: content-box;
  display: inline-block;
  white-space: nowrap;
  margin: 1rem 0;
}

/* line 132, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.btn-sm {
  height: 30px;
  font-size: 11px;
  line-height: 27px;
  min-width: 0;
}

/* line 141, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.summary_block {
  margin: 6em 0 6em;
  min-height: 80px;
  clear: both;
  font-size: 1.1em;
}

/* line 148, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.summary_block .col-sm-3 {
  border-left: 2px solid #cac8c8;
  text-align: center;
}

/* line 152, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.summary_block .col-sm-3:first-of-type {
  border-left: 0px;
}

/* line 155, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.summary_block_subtitle {
  font-size: .9em;
}

/* line 158, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.summary_block_title {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* line 165, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
  .summary_block .col-sm-3 {
    border-top: 1px solid #e8e8e8;
    text-align: left;
    padding: 10px 15px;
    border-left: 0px;
  }
  /* line 172, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
  .summary .col-sm-3:first-of-type {
    border-top: none;
  }
  /* line 176, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
  .summary_subtitle {
    font-size: 1em;
  }
}

@media (min-width: 1600px) {
  /* line 184, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
  .container {
    width: 1450px;
  }
}

/* line 188, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* line 193, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.img_full {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* line 199, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.img_full + .img_full {
  margin-top: 5em;
}

/* line 204, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.skew-up {
  clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
  margin: -6% 0 !important;
  padding: 6% 0;
}

/* line 211, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.thanks_container {
  display: none;
  margin-top: 18em;
  margin-bottom: 5em;
  text-align: center;
}

/* line 218, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
.thanks_container img {
  max-width: 90vw;
  opacity: .5;
  display: inline-block;
}

/* line 225, ../../../../../Users/iazzi/Documents/GitHub/ignacioazzi.github.io/scss/style.scss */
hr {
  box-sizing: content-box;
  height: 1px;
  border: none;
  margin-bottom: 1.5em;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */