@import url("nav_dropdown.css");
@import url("type.css");

html {
	box-sizing: border-box;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-size: 18px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	line-height: 24px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	overflow-x: hidden;
	padding-bottom: 6em;
	padding-top: 55px;
}


img {
	border: 0;
	width: auto;
	height: auto;
	cursor: pointer;
	max-width: 100%
}


hr {
	box-sizing: content-box;
	height: 1px;
	border: none;
	margin-bottom: 1.5em;
	border-top: 1px solid #ccc;
	margin: 0 0 24px 0;
	width: 100%;
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	color: #404040;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
	overflow: visible;
	text-transform: none
}

.btn,.button {
	border: 2px solid #5a6ce3;
	padding: 14px 26px;
	min-width: 150px;
	line-height: 36px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 0;
	color: #5a6ce3;
	text-align: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	margin-right: 8px;
	margin-bottom: 24px;
	white-space: nowrap;
}
}

ul,ol {margin: 0 0 1.5em 1em;padding-left: 0;}
ul {
	margin-top: 2em;
	margin-bottom: 3em;
}
li > ul,li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}


a:hover,a:active {outline: 0;}
a,a:visited,a:focus,a:active,a:hover {
	text-decoration: none;
	outline: none;
}

.site-title {
	line-height: 52px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	font-weight: 300;
}


.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after {content:"";
display: table;
table-layout: fixed;
clear: both;
}


.btn:hover,.button:hover, .btn_active {
	background: #5a6ce3;
	color: #fff;
}


.btn-lg {
	min-width: 200px;
	font-size: 15px;
	padding: 10px 20px;
	box-sizing: content-box;
	display: inline-block;
	white-space: nowrap;
	margin: 1rem 0;
}
.btn-sm {
	height: 30px;
	font-size: 11px;
	line-height: 27px;
	min-width: 0;
}
.nav-container {
	-webkit-backface-visibility: hidden;
	max-width: 100%;
}
nav {
	background: rgba(255, 255, 255, 0.15);)
-webkit-backface-visibility: hidden;
max-width: 100%;
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
nav ul {margin-bottom: 0;}
.module {
	display: inline-block;
	padding: 0 32px;
}
.module-group {display: inline-block;}
.module.left {float: left;}
.module.right,.module-group.right {float: right;}
nav .btn,.nav-bar .btn {
	margin: 0;
	height: auto;
}
.nav-bar {
	height: 55px;
	max-height: 55px;
	line-height: 53px;
}
.nav-bar .module,.nav-bar .module-group {height: 55px;}
.nav-bar a {
	display: inline-block;
	height: 55px;
}

.dropdown:after {
	top: 0;
	right: 0;
	font-size: 11px;
	content: "\f107";
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.menu {
	width: 100%;
	height: 55px;
	font-family: "PT Sans", "Arial", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu li a {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #0e1015;
	opacity: 0.5;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	max-width: 100%;
	white-space: normal;
}
.menu li a:hover {opacity: 1 !important;}
.menu > li {
	margin-right: 32px;
	float: left;
	position: relative;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: 1;
}
.menu > li:last-child {margin-right: 0;}
.menu > li ul {
	left: 0;
	width: 200px;
	padding: 0;
	background: #fff;
	position: absolute;
	z-index: 99;
	top: 100%;
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: translate3d(0, 10px, 0);
	-webkit-transform: translate3d(0, 10px, 0);
	-moz-transform: translate3d(0, 10px, 0);
	visibility: hidden;
	margin-top: -1px;
}
.menu > li > ul > li {
	position: relative;
	line-height: 24px;
	width: 100%;
	vertical-align: top;
}
.menu > li > ul > .dropdown:after {
	color: #0e1015;
	top: 3px;
	right: 24px;
	content: "\f105";
}
.menu > li > ul li a {
	color: #292929;
	height: auto;
	padding: 6px 24px;
	width: 100%;
}
.menu > li > ul > li > ul {
	left: 100%;
	top: 0;
}
.menu > li:hover > ul {
	opacity: 1;
	transform: translate3d(0, 0px, 0);
	-webkit-transform: translate3d(0, 0px, 0);
	-moz-transform: translate3d(0, 0px, 0);
	visibility: visible;
}
.menu > li > ul > li:hover > ul {
	opacity: 1;
	transform: translate3d(0, 0px, 0);
	-webkit-transform: translate3d(0, 0px, 0);
	-moz-transform: translate3d(0, 0px, 0);
	visibility: visible;
}

.dropdown-menu {border-radius: 0;}
.nav-open {
	max-height: 10000px !important;
	height: auto !important;
}
.nav-open .navbar-collapse,.nav-open #menu {display: block;}
.module.widget-handle {
	padding: 0 24px;
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
}


.menu > li > ul li a:hover {
	background: #745cf9;
	color: #fff;
}
.menu > li > ul > .dropdown:hover:after {color: #fff;}


input,textarea {font-family:"PT Sans", "Arial", sans-serif,"Helvetica Neue", Helvetica, Arial, sans-serif;}
nput[type="text"],input[type="search"],input[type="email"],input[type="tel"] {
	background: #f5f5f5;
	border: none;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	font-weight: 500;
	margin-bottom: 24px;
	border-radius: 0;
}
{outline: 1px solid #ccc;}
textarea:focus {outline: 1px solid #ccc;}
:-moz-placeholder {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px;
}
::-moz-placeholder {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px;
}
:-ms-input-placeholder {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px;
}
input.transparent::-moz-input-placeholder,button.transparent::-moz-input-placeholder {color: #fff;}
input.transparent:-moz-input-placeholder,button.transparent:-moz-input-placeholder {color: #fff;}
input.transparent:-ms-input-placeholder,button.transparent:-ms-input-placeholder {color: #fff;}
{
	background: #745cf9;
	border-radius: 0 !important;
	border: 2px solid #745cf9;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	height: 50px;
	letter-spacing: 1px;
	line-height: 48px;
	max-width: 250px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
.bg_primary input[type="submit"] {
	background: #fff;
	color: #745cf9;
}
input[type="submit"]:focus {outline: none;}
.breadcrumb {margin-bottom: 24px;}
.breadcrumb a {font-weight: 300;}
.pagination {margin: 0;}
.pagination li {font-family:"Lato","Helvetica Neue", Helvetica, Arial, sans-serif;}
.pagination li a {
	width: 32px;
	height: 32px;
	padding: 0;
	text-align: center;
	padding-top: 6px;
	margin: 0 4px;
	color: #0e1015;
	font-weight: 400;
}
.pagination li a:hover,.pagination li.active a,.pagination li.active:hover a {
	background: #745cf9;
	color: #fff;
	border-color: #745cf9;
}
.feature {margin-bottom: 24px;}
.feature p:last-child {margin-bottom: 0;}
.feature-1 i {
	display: inline-block;
	margin-bottom: 16px;
	color: #745cf9;
	font-size: 64px;
}
.page-title {
	padding: 0;
	margin-bottom: 0 !important;
}
.main-container .nolist>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.category-list {line-height: 32px;}
.widget .widget-title {
	border-bottom: 1px solid #ccc;
	font-family: "PT Sans", "Arial", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 12px;
	padding-bottom: 10px;
}
.footer-widget .widget-title {
	border-bottom: 1px solid #555;
	color: #fff;
}
.widget hr {margin-bottom: 12px;}
.recent-posts {line-height: 24px;}
.recent-posts li {
	margin-bottom: 8px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.recent-posts .date {
	display: block;
	letter-spacing: 0;
	opacity: .8;
}
.recent-posts li:hover .date {opacity: 1;}
.category-list span {float: right;}

.image-tile {
	position: relative;
	margin-bottom: 24px;
	overflow: hidden;
	height: 100%;
	width: auto;
}
.image-tile img {
	display: inline-block;
	height: 100%;
}
.inner-title:before {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#0e1015', GradientType=0);
	pointer-events: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.42)), color-stop(100%, rgb(0, 0, 0)));
}
.inner-title:hover:before {transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.inner-title .title {
	position: absolute;
	width: 100%;
	z-index: 5;
}
.inner-title .title h5 {
	color: #ffffff;
	font-weight: 600;
	font-size: 21px;
	text-shadow: 0px 0px 35px black;
}
.inner-title .title span {
	color: #ffffff;
	font-family: "PT Sans", "Arial", sans-serif, sans-serif;
	font-weight: bold;
	opacity: .6;
}
.inner-title {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: .95;
}
.inner-title.hover-reveal:before {opacity: .5;}
.inner-title.hover-reveal .title {
	opacity: 1;
	transform: translate3d(0, -50%, 0);
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	bottom: 0%;
}
.logo-carousel li {
	text-align: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: .5;
}
.logo-carousel li:hover {opacity: 1;}
.logo-carousel img {max-height: 60px;}

@media all and (max-width: 767px) {

}

.lightbox-grid,.lightbox-grid ul,.lightbox-grid li {
	position: relative;
	overflow: hidden;
}
.lightbox-grid li {
	width: 25%;
	float: left;
	border: 8px solid rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: 1;
}
.lightbox-grid li:hover {opacity: .9;}
.third-thumbs li {
	width: 25%;
	height: 13.08vw;
	border: none;
}

.cover {
	margin: 0;
	padding: 0;
}
.cover p {
	color: #ffffff;
	font-size: 25px;
	font-family: "PT Sans", "Arial", sans-serif, sans-serif;
	opacity: .8;
}
.cover:first-child .fullscreen {
	max-height: 100%;
	background-position: left;
}

@media all and (max-width: 767px) {

}

.page-title-section {
	height: 90px;
	padding: 30px 0px;
	font-size: 13px;
	display: none;
}

@media all and (max-width: 767px) {

}

footer.bg_dark a {color: #fff;}
.social-list {
	margin: 0;
	font-size: 22px;
}
.bg_dark .social-list a {
	color: #fff;
	opacity: .5;
}
.bg_dark .social-list a:hover {opacity: 1;}
.back-to-top {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	height: 36px;
	width: 36px;
	padding: 5px 11px;
}
.back-to-top .fa {
	font-size: 18px;
	color: #fff;
}
.back-to-top:hover {opacity: 1;}
.bg_dark .back-to-top {border-color: #fff;}
.bg_dark .back-to-top:active,.bg_dark .back-to-top:focus {color: #fff;}
.bg_dark .back-to-top:hover {background: none;}
.footer input[type="submit"] {
	border: 0;
	margin-top: 3px;
}
.copyright-text {color: #fefefe;}
.footer .footer-credits a {
	color: #fefefe;
	opacity: .8;
}
.mt0 {margin-top: 0px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mb0 {margin-bottom: 0 !important;}
.mb16 {margin-bottom: 16px;}
.mb24 {margin-bottom: 24px;}
.mb32 {margin-bottom: 32px;}
.mb40 {margin-bottom: 40px;}
.mb64 {margin-bottom: 64px;}
.mb128 {margin-bottom: 128px;}
.p24 {padding: 24px;}
.pl24 {padding-left: 24px;}
.pl48 {padding-left: 48px;}
.p0 {padding: 0;}
.pt48 {padding-top: 48px;}
.pt256 {padding-top: 256px;}
.pb0 {padding-bottom: 0 !important;}
.pt0 {padding-top: 0;}


section {border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



@media all and (max-width: 767px) {

	h1 {
		font-size: 32px;
		line-height: 47px;
		font-weight: 300;
	}
	h2 {
		font-size: 32px;
		line-height: 40px;
	}
	h3 {
		font-size: 24px;
		line-height: 32px;
	}
	h4 {
		font-size: 18px;
		line-height: 26px;
	}
	h5 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}
	h6 {
		font-size: 12px;
		line-height: 24px;
		font-weight: 700;
	}
}


@media all and (max-width: 767px) {
	p.lead {line-height: 28px;}
	p {font-size: 16px;}
}


@media all and (max-width: 767px) {br {display: none;}
blockquote {
	font-size: 16px;
	line-height: 32px;
}
}




@media all and (max-width: 991px) {

	.nav-bar,.nav-bar .module {
		height: auto;
		overflow: hidden;
	}
	.nav-bar .module {padding: 0 16px;}
	.nav-bar .module-group {
		width: 100%;
		padding: 16px 0;
	}
	.nav-bar .module-group .module {
		display: block;
		float: none;
		width: 100%;
	}
	.menu a {
		height: auto;
		line-height: 24px;
		padding: 4px 0;
	}
	.menu li {
		line-height: 24px;
		float: none;
		display: block;
		width: 100%;
		max-width: 100%;
	}
	.menu > li > ul {
		position: relative;
		opacity: 1;
		visibility: visible;
		display: none;
		transform: translate3d(0, 0px, 0);
		-webkit-transform: translate3d(0, 0px, 0);
		-moz-transform: translate3d(0, 0px, 0);
	}
	.dropdown .dropdown li {padding-left: 18px;}
	.dropdown {padding-right: 0;}
	.module.widget-handle i {line-height: 40px;}
	.module.widget-handle .title {
		display: inline-block;
		position: relative;
		bottom: 3px;
		margin-left: 8px;
	}
	.widget-handle .function {
		width: 100%;
		max-width: 300px;
		position: relative;
		opacity: 1;
		transform: translate3d(0, 0px, 0);
		-webkit-transform: translate3d(0, 0px, 0);
		-moz-transform: translate3d(0, 0px, 0);
		visibility: visible;
		margin-top: 0;
		display: none;
		box-shadow: none !important;
	}
	.toggle-search .function {display: block;}
	.search-widget-handle .search {padding: 0 15px;}
	.mobile-toggle i {line-height: 53px !important;}
}



.summary {
	margin: 6em 0 6em;
	min-height: 80px;
	clear:both;
	font-family: "Source Sans Pro";
	font-size: 1.1em;
}
.summary .col-sm-3 {
	border-left: 2px solid #cac8c8;
	text-align:center;
}
.summary .col-sm-3:first-of-type {border-left: 0px;}
.summary_subtitle{font-size:.9em;}
.summary_title{
	color:black;
	font-weight: bold;
}
@media only screen and (max-width : 768px) {
	.summary .col-sm-3 {
		border-top: 1px solid #e8e8e8;
		text-align:left;
		padding: 10px 15px;
		border-left: 0px;
	}
	.summary .col-sm-3:first-of-type{border-top:none;}
	.summary_subtitle{font-size:1em;}
}

section{border: none}
.subsection{
	padding: 2em 1em;
	padding-bottom: 4em;
	margin: 4em 0 0em;
}
.purple {
	color:white;
	background: #3f51b5;
}
.tile{
	color:white;
	background: #37474f;
}
.green {
	color:white;
	background: #075e48;
}
.lan {
	color:white;
	background: #474580;}
	.ara {
		color:white;
		background: #005292;}
		.presidio{
			color:white;
			background: #204e90;
		}

		.subsection h1{
			display: block;
			margin: 1em auto .5em;
			text-align: center;
			tac;
			font-size: 3em;
		}
		.subsection p, .purple li {font-size: 1em;}
		.subsection ul{margin-left: 0;}
		.subsection img {
			box-shadow: none;
			margin: 0;
		}

		.subsection .col-md-3 {padding-top: 8em;}
		hr.small {
			width: 50%;
			margin: 3em auto;
			opacity: .2;
			border-top-width: 2px;
			position: relative;
		}
		@media only screen and (min-width : 320px) {
			.subsection .col-md-3 {
				padding-top: 8em
			}
			.subsection, section{
				padding: 1em 0em;
				margin: 1em 0em;
			}

			.img-text {
				padding-top: 0em;
			}
		}


		@media only screen and (min-width : 768px) {

			.subsection, section{
				padding: 3em 1em;
				margin: 0em 0em;
			}

			.img-text {
				padding-top: 6em;
			}
		}

		.img-text h3 {
			line-height: 1.4em;
		}


		div#primary {
			max-width: 1200px;
			display: block;
			float: none;
			margin: 0 auto;
		}

		@media (min-width: 1600px) {
			.container {
				width: 1450px;
			}
		}


		nav {
			background: rgba(255, 255, 255, 0.94);
			-webkit-backface-visibility: hidden;
			max-width: 100%;
			border-bottom: 1px solid rgba(230, 230, 230, 0.71);
			position: fixed;
			top: 0;
			z-index: 20;
			width: 100%;
			transition: .5s all;
		}
		nav ul {
			margin-bottom: 0;
		}
		.module {
			display: inline-block;
			padding: 0 32px;
		}
		.module.left {
			float: left;
		}
		.module.right,
		{
			float: right;
		}
		.module.right a{
			margin-left: 20px;
			font-size: .9em;
			text-transform: uppercase;
			color: #222;
		}
		.nav-bar {
			height: 55px;
			max-height: 55px;
			line-height: 53px;
		}
		.nav-bar .module,
		.nav-bar .module-group {
			height: 55px;
		}
		.nav-bar a {
			display: inline-block;
			height: 55px;
			border-bottom: 0px;
		}
		.nav-visible {
			top: 0px;
		}
		.nav-hidden {
			opacity: .1;
			border-bottom: 1px solid rgba(230, 230, 230, 0.16);
			background: transparent;
		}

		.nav-hidden:hover {
			opacity: 1;
			background:white;

		}

		.tac-xs {
			text-align: center;
		}

		.vcenter {
			display: inline-block;
			vertical-align: middle;
			float: none;
		}

		.img_full{
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		.img_full + .img_full{
			margin-top: 5em
		}


		body.bg_dark {
			background: #fafafa;
			padding-bottom: 0px;
			text-align: left;
		}

		body.bg_dark.lan {
			background: #12275B;
		}

		body.bg_dark.ara {
			background: #005192;
		}



		.skew{
			clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
			margin: -6% 0!important;
			padding: 6% 0;
		}

		.skew-up{
			clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
			margin: -6% 0!important;
			padding: 6% 0;
		}


		.thanks_container {
			margin-top: 18em;
			margin-bottom: 5em;
			text-align: center;
		}

		.thanks_container img {
			max-width: 30%;
			min-width: 450px;
			opacity: .5;
			display: inline-block;
		}

		.contact_info:first-of-type {
			border-right: 1px solid #ccc;
		}

		.contact_info {
			padding: 20px 0px;
		}