.full-width {
	// background: #f3f4f6;
	// width: 80vw;
	// position: relative;
	// margin: 96px 0px 128px 0px;
	// margin-left: -30vw;
	// left: 30%;
	// border: 1px solid rgba(0, 0, 0, 0.1);
	// border-radius: 8px;
	background: #f3f4f6;
	width: 100%;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.full-width iframe{
	background: #F3F4F6;
}

// .hero-bg:before {
// 	content: ' ';
// 	display: block;
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	opacity: 0.6;
// 	// background-image: url('img/rc/back.jpeg');
// 	background-repeat: no-repeat;
// 	background-position: 50% 0;
// 	background-size: cover;
// }

.hero {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 24.06%, rgba(0, 0, 0, 0.35) 100%), #271DB8;
}

.hero img {
	margin: 0 auto;
}

.hero img {
	max-width: 33vw;
	max-height: 70vh;
}

.hero-bg{
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	background-image: url(/img/rc/bg.png);
}

.full-width p {
	margin-left: 0;
	// max-width: 80%!important;
	background: transparent!important;

}


.container_iframe {
	position: relative;
	overflow: hidden;
	padding-top: 90%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}



.mb0 {
	margin-bottom: 0;
}

.mb24 {
	margin-bottom: 24px!important;
}

.mb48 {
	margin-bottom: 48px!important;
}

.mb64 {
	margin-bottom: 64px!important;
}

.mb96 {
	margin-bottom: 96px!important;
}

.mb128 {
	margin-bottom: 128px!important;
}

.mb256 {
	margin-bottom: 256px!important;
}

.pb0 {
	padding-bottom: 0;
}

.pb24 {
	padding-bottom: 24px!important;
}

.pb48 {
	padding-bottom: 48px!important;
}

.pb96 {
	padding-bottom: 96px!important;
}

.pb128 {
	padding-bottom: 128px!important;
}

.pb256 {
	padding-bottom: 256px!important;
}


.pt0 {
	padding-top: 0;
}

.pt24 {
	padding-top: 24px!important;
}

.pt48 {
	padding-top: 48px!important;
}

.pt64 {
	padding-top: 64px!important;
}


.pt96 {
	padding-top: 96px!important;
}

.pt128 {
	padding-top: 128px!important;
}

.pt256 {
	padding-top: 256px!important;
}

.mt0 {
	margin-top: 0;
}

.mt24 {
	margin-top: 24px!important;
}

.mt64 {
	margin-top: 64px!important;
}

.mt96 {
	margin-top: 96px!important;
}

.mt48 {
	margin-top: 48px!important;
}


:host{contain: none}


