h1, h2, h3, h4, h5, h6, p, ol {
	margin-bottom: 16px;
	margin-top: 0;
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

}
h1, h2, h3, h4, h5, h6, .h0 {
	clear: both;
	font-weight: 600;
	color: #000000;
	position: relative;
	word-wrap: break-word;
	line-height: 1em;
}

p.lead {
	font-size: 24px;
	line-height: 42px;
	color: black;
}

p,
li {
	line-height: 1.6em;
	vertical-align: top;
}

li{
	margin-bottom: 1em,
}


//Markdown new style

.h0{
	font-size: 3.5rem;
	font-weight: bold;

}
h1 {
	font-size: 2em;
}

h1,
h2 {
	padding-bottom: .1em;
	margin-top: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: .875em;
}

h6 {
	font-size: 12px;
	line-height: 24px;
	font-weight: 600;
}




p.leady {
	font-size: 21px;
	margin-bottom: 2em;
}

u {
	text-decoration: none;
	border-bottom: 2px solid #5669e1;
}


figcaption {
	position: relative;
	bottom: 4px;
	display:block;
}



p ~ h3 {
	margin-top: 2em;
}

h1 + h3 {
	margin-top: -1em;
}

h2 + h3 {
	margin-top: -.4em;
}

h4 + h5 {
	margin-top: -1em
}

h3 + .lead {
	margin-top: -30px;
}

span.number {
	display: inline-block;
	font-size: .8em;
	width: 35px;
	height: 35px;
	background: #5a6ce3;
	text-align: center;
	line-height: 35px;
	vertical-align: top;
	border-radius: 50%;
	position: absolute;
	color: white;
	margin-right: 13px;
	left: -60px;
	font-weight: bold;
	border: -1px solid white;
	z-index: 10;
}


/*WEIGHT VARIANTS*/

.fwb, .strong {
	font-weight: 600;
}


/*COLOR VARIANTS*/


.white,
p.white,
h3.white,
.white *{
	color: white!important;
}

.yellow {
	color: #f4c900
}

.lan h1,
.cyan,
p.cyan {
	color: #5bd0f7!important;
}


/*SIZE VARIANTS*/

.smaller {
	font-size: .9em;
	line-height: 1.6em;
	opacity: .8;
	margin-bottom: 2em;	
}

.smallest {
	font-size: .8em;
	line-height: 1.6em;
	opacity: .8;
	margin-bottom: 2em;	

}

.quiet,
.quiet p {
	line-height: 2.2em;
	opacity: .95;
}

.quieter {
	opacity: .6;
}

.highlight {
	padding: 2em 3em 1em;
	background-color: #fff3cd;
	border-color: #ffeeba;
	border: 1px solid #f8ecc9;
	border-radius: 4px;

	ol{
		margin: 0;
	}
}

.markdown-body h3{
	margin-top: 3em!important;
}


/*ALIGNMENT CLASSES*/

.tal,
.text-left {
	text-align: left;
}

.tac,
.text-center,
header h2,
header h3 {
	text-align: center;
}

.taj {
	text-align: justify;
}

.text-center img {
	margin-left: auto;
	margin-right: auto;
}

.tac img,
.taj img,
img.tac {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 991px) {
	.sm_text_left,
	.sm_text_left > * {
		text-align: left!important;
	}
	.sm_text_center,
	.sm_text_center > * {
		text-align: center!important;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-justify {
		text-align: justify;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
	.text-md-justify {
		text-align: justify;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
	.text-sm-justify {
		text-align: justify;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.text-xs-left {
		text-align: left;
	}
	.text-xs-right {
		text-align: right;
	}
	.text-xs-center {
		text-align: center;
	}
	.text-xs-justify {
		text-align: justify;
	}
}

header {
	margin: 128px 0;
}

header.mini_header {
	margin: 64px 0px;
}