body.2 .sidebar, body.2 .container {
    display: inline-block;
    text-align: left
}

body.2 {
    text-align: center
}

body.2 .rooms {
    padding-left: 30px;
}

.sidebar.filters {
    width: 244px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border: 1px solid #0898ff;
    padding: 0px 10px;
    /* margin-top: 71px; */
    margin-top: 0px;
    /* position: fixed; */
    top: 59px;
    transition: .5s all;
    /* position: relative; */
    background: white;
    overflow: hidden;
}



.sidebar .label {
    display: block;
    float: none;
    text-align: left;
    color: #003580;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 0px;
    line-height: inherit;
    /* color: #0898ff; */
}

.label:before{content: "\f0d7";font-size:11px;margin-right: 5px;color:#ff5e00;transform: scaleY(.1);font-family: "FontAwesome";}

.sidebar .button-group {
    display: block;
    margin-bottom: 1em;
}

.sidebar button.button {
    display: inline-block;
    float: none;
    background: none: /* color: #0898ff; */;
    background: white;
    color: #0898ff;
    color: color: #0898ff;
    font-size: 13px;
    text-shadow: none;
    border: 1px solid #0898ff;
    margin: 0px -6px 0px 0px;
    position: relative;
    left: 2px;
    height: 28px;
    line-height: 28px;
}

.sidebar .boolean button.button {
    display: inline-block;
    margin-right: -5px;
    border: 1px solid #ddd;
    background: #eee;
}

.sidebar .boolean button.is-checked {
    background: #0898ff;
}

.filter_by {
    background: #5cb9ff;
    color: #ffffff;
    font-size: 16px;
    /* font-weight: bold; */
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    /* padding: 10px 11px; */
    width: 264px;
    margin: 0px -10px;
}
