
.features {
	width: 100%;
	height: 75px;
	padding: 14px 28px;
	width: 100%;
	background: rgba(240, 248, 255, 0.51);
	flex-wrap: wrap;
}
.beds {
	margin-top: 0px;
	background: none;
	margin: 0px;
	padding: 5px 0px;
}
.prices.prices_details, .info_container, .rooms_qty {
	min-height: auto;
	height: auto;
	overflow: hidden;
}
.rooms_qty {
    /* float: right; */
}

br {
	display: none;
}
b ~ b {
	margin-left: 10px;
}
.reserve {
	vertical-align: top;
	display: inline-block;
	padding: 0px 20px;
	text-align: left;
}
.target-output {
	width: 78%;
	display: inline-block;
}
.price_selected {
	margin-top: 2px;
	margin-bottom: 10px;
}
.reserve .btn {
	/* margin-top: 20px; */
}
.rooms .element-item {
	width: 647px;
	padding: 0;
	/* margin: 0 -1px -1px	0px; */
	margin-bottom: 10px;
}
.reserve .btn {
	/* margin-top: 20px; */
}
.stick {
	top: 30px!important;
}
.default {
	background-color: #4c7bb2 !important;
	color: white!important;
	text-shadow: snow;
	border-color: #4c7bb2;
}
.info_bit:nth-of-type {
	/* display: inline-block; */
	/* vertical-align: top; */
	font-size: 12px;
	/* width: 77px; */
	height: 40px;
	text-align: center;
	text-transform: capitalize;
	/* margin-bottom: 23px; */
	/* white-space: nowrap; */
}
.info_bit:nth-of-type(n+5) .bit_icon {
	display: block;
	margin-right: 5px;
	font-size: 17px;
	
}
